numpy
scipy
pandas
scikit-learn
matplotlib
pillow

torch
transformers
tokenizers
safetensors
triton

huggingface-hub
regex
tqdm

wandb
gitpython
sentry-sdk

requests
urllib3
pyyaml

pydantic
typing-extensions

networkx
sympy
joblib